
 <h1>Explore some favorite things</h1>

Want to explore something in particular? Choose a category or find a friend to explore what they enjoy.

 <table border="1">
   <thead>
     <tr>
       <th>Username</th>
       <th>Category</th>
       <th>Favorite Thing</th>
       <th>Description</th>
     </tr>
   </thead>
   <tbody>
     <% @feed_items.each do |item| %>
       <tr>
         <td>
           <a href="/profile/<%= item.fetch(:user_id) %>">
             <%= item.fetch(:username) %>
           </a>
         </td>
         <td><%= item.fetch(:category_name) %></td>
         <td><%= item.fetch(:favorite_thing) %></td>
         <td><%= item.fetch(:description) %></td>
       </tr>
     <% end %>
   </tbody>
 </table>
