

<h1>Explore some favorite things</h1>

Want to explore something in particular? Choose a category or find a friend to explore what they enjoy.
<div>
 <form action="/feeds" method="get">
   <label for="username_search">User:</label>
   <select id="username_search" name="username">
     <option value="">All Users</option>
     <% User.all.each do |user| %>
       <option value="<%= user.username %>" <%= "selected" if params.fetch("username", "") == user.username %>><%= user.username %></option>
     <% end %>
   </select>

   <label for="category_select">Category:</label>
   <select id="category_select" name="category_id">
     <option value="">All Categories</option>
     <% Category.all.each do |cat| %>
       <option value="<%= cat.id %>" <%= "selected" if params.fetch("category_id", "") == cat.id.to_s %>><%= cat.name %></option>
     <% end %>
   </select>

   <button type="submit">Filter</button>
 </form>
</div>

<div>
<table border="1">
  <thead>
    <tr>
      <th>Username</th>
      <th>Category</th>
      <th>Favorite Thing</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @feed_items.each do |item| %>
      <tr>
        <td><%= item.fetch(:username) %></td>
        <td><%= item.fetch(:category_name) %></td>
        <td><%= item.fetch(:favorite_thing) %></td>
        <td><%= item.fetch(:description) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

end

</div>
