<h1><%= @user.username %>'s favorite things</h1>

<%= link_to 'Add a favorite thing', recommendations_path, class: "nav-link" %>


<% @categories.each do |category| %>
  <h2><%= category.name %></h2>

  <% recs = @user_recommendations.where({ :category_id => category.id }) %>
 
  <% if recs.count > 0 %>
    <table border="1">
      <thead>
        <tr>
          <th><%= category.name.singularize %></th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% recs.each do |rec| %>
          <tr>
            <td><%= rec.name %></td>
            <td><%= rec.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No recommendations yet in this category.</p>
  <% end %>
<% end %>
